<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="per.study.mapper.UserMapper"> <!--接口的全类型和namespace是一致的-->
    <select id="getUserById" resultType="per.study.bean.TUser">
        select * from t_user where id = #{id};
    </select>
</mapper>